{
  "editor.fontFamily": "'FiraCode Nerd Font', 'Droid Sans Mono', monospace",
  "editor.fontSize": 14,
  "editor.fontLigatures": true,
  "editor.formatOnSave": true,
  "editor.rulers": [80, 120],
  "editor.tabSize": 2,
  "editor.wordWrap": "on",
  "editor.minimap.enabled": false,
  "editor.renderWhitespace": "boundary",
  "editor.cursorBlinking": "solid",
  "editor.cursorStyle": "line",
  "editor.lineNumbers": "relative",
  "editor.bracketPairColorization.enabled": true,
  "editor.guides.bracketPairs": true,

  "workbench.colorTheme": "Dracula",
  "workbench.iconTheme": "material-icon-theme",
  "workbench.startupEditor": "none",
  "workbench.tree.indent": 16,

  "terminal.integrated.fontFamily": "FiraCode Nerd Font",
  "terminal.integrated.fontSize": 14,
  "terminal.integrated.cursorBlinking": true,
  "terminal.integrated.cursorStyle": "line",

  "vim.useSystemClipboard": true,
  "vim.enableNeovim": true,
{{- if stat "/run/current-system/sw/bin/nvim" }}
  "vim.neovimPath": "/run/current-system/sw/bin/nvim",
{{- else }}
  "vim.neovimPath": "nvim",
{{- end }}
  "vim.highlightedyank.enable": true,
  "vim.leader": "<space>",

  "files.autoSave": "afterDelay",
  "files.autoSaveDelay": 1000,
  "files.trimTrailingWhitespace": true,
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,

  "git.autofetch": true,
  "git.confirmSync": false,
  "git.enableSmartCommit": true,
  "git.decorations.enabled": true,

  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,

  "telemetry.telemetryLevel": "off",
  "update.mode": "none",

  "[nix]": {
    "editor.tabSize": 2,
    "editor.insertSpaces": true
  },
  "[python]": {
    "editor.tabSize": 4,
    "editor.rulers": [88],
    "editor.formatOnSave": true
  },
  "[go]": {
    "editor.insertSpaces": false,
    "editor.formatOnSave": true
  },
  "[rust]": {
    "editor.formatOnSave": true,
    "editor.rulers": [100]
  },
  "[markdown]": {
    "editor.wordWrap": "on",
    "editor.quickSuggestions": false
  },
  "[yaml]": {
    "editor.tabSize": 2,
    "editor.insertSpaces": true
  },
  "[json]": {
    "editor.tabSize": 2,
    "editor.insertSpaces": true
  },
  "[typescript]": {
    "editor.tabSize": 2,
    "editor.insertSpaces": true
  },
  "[javascript]": {
    "editor.tabSize": 2,
    "editor.insertSpaces": true
  }
}
